Repository sparrownova/shopper, changes with the owners that CODEOWNERS names for each.
All owners: @deepeshgarg007, @ruthra-kumar, @anandbaburajan, @rohitwaghchaure, @s-aga-r, @phot0n

Shopper
  README.md
  shopper/accounts/custom/address.py
  shopper/accounts/doctype/accounts_settings/accounts_settings.json
  shopper/accounts/doctype/bank/bank.js
  shopper/change_log/v12/v12_0_0.md
  shopper/change_log/v13/v13_0_0.md
  shopper/hooks.py
  shopper/patches.txt
  shopper/patches/v11_1/woocommerce_set_creation_user.py
  shopper/patches/v12_0/move_plaid_settings_to_doctype.py
  shopper/patches/v14_0/delete_datev_doctypes.py
  shopper/setup/doctype/employee/employee.json
  shopper/setup/install.py
  shopper/shopper_integrations/doctype/plaid_settings/plaid_settings.js
  shopper/shopper_integrations/doctype/plaid_settings/plaid_settings.py
  shopper/shopper_integrations/doctype/plaid_settings/test_plaid_settings.py
  shopper/shopper_integrations/doctype/quickbooks_migrator/quickbooks_migrator.js
  shopper/shopper_integrations/doctype/tally_migration/tally_migration.js
  shopper/shopper_integrations/doctype/tally_migration/tally_migration.json
  shopper/shopper_integrations/doctype/tally_migration/tally_migration.py
  shopper/shopper_integrations/utils.py
  shopper/stock/doctype/item/item.py
  shopper/tests/test_zform_loads.py
  shopper/translations/et.csv
  shopper/translations/fi.csv
  shopper/translations/he.csv
  shopper/translations/hr.csv
  shopper/translations/ko.csv
  shopper/translations/tr.csv
  shopper/translations/zh-TW.csv
  shopper/translations/zh.csv
  shopper/translations/zh_tw.csv
Owners: @deepeshgarg007, @ruthra-kumar, @rohitwaghchaure, @s-aga-r

shopper-logo.png
  shopper/public/images/pos.svg
  shopper/public/images/shopper-favicon.svg
  shopper/public/images/shopper-logo.png
  shopper/public/images/shopper-video-placeholder.jpg
Owners: none

Update shopper-logo.svg
  shopper/public/images/shopper-logo.svg
Owners: none

Update __init__.py
  shopper/__init__.py
Owners: none

ShopperPrime
  package.json
  shopper/hooks.py
Owners: none

Shopper sets
  README.md
  shopper/accounts/onboarding_step/chart_of_accounts/chart_of_accounts.json
Owners: @deepeshgarg007, @ruthra-kumar

Shopper sets
  shopper/accounts/onboarding_step/chart_of_accounts/chart_of_accounts.json
  shopper/accounts/onboarding_step/create_a_product/create_a_product.json
  shopper/accounts/onboarding_step/updating_opening_balances/updating_opening_balances.json
  shopper/assets/onboarding_step/introduction_to_assets/introduction_to_assets.json
  shopper/crm/onboarding_step/introduction_to_crm/introduction_to_crm.json
  shopper/manufacturing/onboarding_step/explore_manufacturing_settings/explore_manufacturing_settings.json
  shopper/manufacturing/onboarding_step/introduction_to_manufacturing/introduction_to_manufacturing.json
  shopper/stock/onboarding_step/create_a_stock_entry/create_a_stock_entry.json
  shopper/stock/onboarding_step/introduction_to_stock_entry/introduction_to_stock_entry.json
  shopper/stock/onboarding_step/stock_opening_balance/stock_opening_balance.json
  shopper/stock/spec/reposting.md
Owners: @deepeshgarg007, @ruthra-kumar, @anandbaburajan, @rohitwaghchaure, @s-aga-r

Revert "Shopper sets"
  shopper/accounts/onboarding_step/chart_of_accounts/chart_of_accounts.json
  shopper/accounts/onboarding_step/create_a_product/create_a_product.json
  shopper/accounts/onboarding_step/updating_opening_balances/updating_opening_balances.json
  shopper/assets/onboarding_step/introduction_to_assets/introduction_to_assets.json
  shopper/crm/onboarding_step/introduction_to_crm/introduction_to_crm.json
  shopper/manufacturing/onboarding_step/explore_manufacturing_settings/explore_manufacturing_settings.json
  shopper/manufacturing/onboarding_step/introduction_to_manufacturing/introduction_to_manufacturing.json
  shopper/stock/onboarding_step/create_a_stock_entry/create_a_stock_entry.json
  shopper/stock/onboarding_step/introduction_to_stock_entry/introduction_to_stock_entry.json
  shopper/stock/onboarding_step/stock_opening_balance/stock_opening_balance.json
  shopper/stock/spec/reposting.md
Owners: @deepeshgarg007, @ruthra-kumar, @anandbaburajan, @rohitwaghchaure, @s-aga-r

Update README.md
  README.md
Owners: none

Update README.md
  README.md
Owners: none

xmlns:sketch
  shopper/accounts/onboarding_step/chart_of_accounts/chart_of_accounts.json
  shopper/accounts/onboarding_step/create_a_product/create_a_product.json
  shopper/accounts/onboarding_step/updating_opening_balances/updating_opening_balances.json
  shopper/assets/onboarding_step/introduction_to_assets/introduction_to_assets.json
  shopper/crm/onboarding_step/introduction_to_crm/introduction_to_crm.json
  shopper/manufacturing/onboarding_step/explore_manufacturing_settings/explore_manufacturing_settings.json
  shopper/manufacturing/onboarding_step/introduction_to_manufacturing/introduction_to_manufacturing.json
  shopper/stock/onboarding_step/create_a_stock_entry/create_a_stock_entry.json
  shopper/stock/onboarding_step/introduction_to_stock_entry/introduction_to_stock_entry.json
  shopper/stock/onboarding_step/stock_opening_balance/stock_opening_balance.json
  shopper/stock/spec/reposting.md
Owners: @deepeshgarg007, @ruthra-kumar, @anandbaburajan, @rohitwaghchaure, @s-aga-r

Update __init__.py
  shopper/__init__.py
Owners: none

In Shopper
  shopper/accounts/onboarding_step/accounts_settings/accounts_settings.json
  shopper/accounts/onboarding_step/financial_statements/financial_statements.json
  shopper/buying/onboarding_step/create_your_first_purchase_order/create_your_first_purchase_order.json
  shopper/manufacturing/onboarding_step/explore_manufacturing_settings/explore_manufacturing_settings.json
  shopper/setup/onboarding_step/company_set_up/company_set_up.json
  shopper/setup/onboarding_step/data_import/data_import.json
  shopper/stock/onboarding_step/create_a_warehouse/create_a_warehouse.json
  shopper/stock/onboarding_step/stock_settings/stock_settings.json
  shopper/stock/onboarding_step/view_warehouses/view_warehouses.json
  shopper/translations/tr.csv
Owners: @deepeshgarg007, @ruthra-kumar, @rohitwaghchaure, @s-aga-r

Update footer_powered.html
  shopper/templates/includes/footer/footer_powered.html
Owners: none

Update create_an_item.json
  shopper/setup/onboarding_step/create_an_item/create_an_item.json
Owners: none

everything you do in Shopper
  .idea/.gitignore
  .idea/modules.xml
  .idea/shopper.iml
  .idea/vcs.xml
  shopper/templates/includes/footer/footer_powered.html
Owners: none

Update install.py
  shopper/setup/install.py
Owners: none

Update __init__.py
  shopper/__init__.py
Owners: none

CODEOWNERS:

# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,

shopper/accounts/               @deepeshgarg007 @ruthra-kumar
shopper/assets/                 @anandbaburajan @deepeshgarg007
shopper/regional                @deepeshgarg007 @ruthra-kumar
shopper/selling                 @deepeshgarg007 @ruthra-kumar
shopper/support/                @deepeshgarg007
pos*                            

shopper/buying/                 @rohitwaghchaure @s-aga-r
shopper/maintenance/            @rohitwaghchaure @s-aga-r
shopper/manufacturing/          @rohitwaghchaure @s-aga-r
shopper/quality_management/     @rohitwaghchaure @s-aga-r
shopper/stock/                  @rohitwaghchaure @s-aga-r
shopper/subcontracting          @rohitwaghchaure @s-aga-r

shopper/controllers/            @deepeshgarg007 @rohitwaghchaure
shopper/patches/                @deepeshgarg007

.github/                        @deepeshgarg007
pyproject.toml                  @phot0n
